<section>人気な店ランキング
    <table border="1">
        <thead>
            <tr>
                <th>順位</th>
                <th>店舗名</th>
                <th>評価平均</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurant_ranking %}
            <tr>
                <td>{{ loop.index }}位</td>
                <td>{{ restaurant.restaurant.name }}</td>
                <td>{{ restaurant.evaluation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

