body {
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template: 
        "sidebar score era"
        "sidebar top top"
        / 200px 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  
  .sidebar ,
  .score_ranking ,
  .song_era ,
  .song_counts {
    padding: 1rem;
    border-radius: 4px;
    border: 1px rgba(0,0,0, 0.24) solid;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  .sidebar h1 {
    margin-top: 0;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  menu {
    margin: 0 -0.5rem;
    padding: 0;
    list-style: none;
  }
  menu li a {
    display: block;
    padding: .4em .8em;
    text-decoration: none;
    background: #fff;
    color: #333;
    text-align: left;
    margin: .2em 0;
  }
  menu li a:hover {
      background: #eee;
  }
  
  .score_ranking {
    grid-area: score;
  }
  .song_era {
    grid-area: era;
  }
  .song_counts {
    grid-area: top;
  }
  #current_summary {
    max-height: fit-content;
  }
  #user_ranking_chart {
    max-height: 369px;
  }
  
  section h3 {
    margin: 0;
  }