body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

aside {
  padding: 20px 0 0 15px;
  background-color: #f8f9fa;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
}

aside > ul > li {
  margin-block: 10px;
  list-style: none;
}

aside > ul > li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
  display: grid;
  gap: 10px;
}

#map {
  height: 50vh;
}


.restaurant_score_ranking .card{
  width: 150px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  text-align: center;
}

.restaurant_score_ranking .ranking{
  display: flex;
  gap: 10px;
}

.restaurant_score_ranking .index{
  font-size: 40px;
  
}