<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>予約一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li>予約一覧</li>
    </ul>

    <a href="{{ url_for('appointment.add') }}">新規予約</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>予約日時</th>
                <th>患者名</th>
                <th>診療科</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in items %}
            <tr>
                <td><a href="{{ url_for('appointment.edit', appointment_id=appointment.id) }}">編集</a></td>
                <td>{{ appointment.appointment_datetime.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ appointment.patient.name }}</td>
                <td>{{ appointment.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>