<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>予約の編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>予約の編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('appointment.list') }}">予約一覧</a></li>
        <li>予約編集</li>
    </ul>

    <form action="{{ url_for('appointment.edit', appointment_id=appointment.id) }}" method="post">
        <label>日付: <input type="date" name="date" value="{{ appointment.appointment_datetime.strftime('%Y-%m-%d') }}"
                required></label><br>
        <label>時間: <input type="time" name="time" value="{{ appointment.appointment_datetime.strftime('%H:%M') }}"
                required></label><br>
        <label>患者名:
            <select name="patient_id" required>
                <option value="">選択してください</option>
                {% for user in users %}
                <option value="{{ user.id }}" {{ 'selected' if appointment.patient_id==user.id }}>
                    {{ user.name }}
                </option>
                {% endfor %}
            </select>
        </label><br>
        <h2>どちらの診療科での受診を希望されますか?</h2>
        <select name="department" id="department" required>
            <option value="総合診療科" {% if appointment.department=="総合診療科" %}selected{% endif %}>総合診療科</option>
            <option value="一般内科" {% if appointment.department=="一般内科" %}selected{% endif %}>一般内科</option>
            <option value="一般外科" {% if appointment.department=="一般外科" %}selected{% endif %}>一般外科</option>
            <option value="小児外科" {% if appointment.department=="小児外科" %}selected{% endif %}>小児外科</option>
            <option value="小児内科" {% if appointment.department=="小児内科" %}selected{% endif %}>小児内科</option>
            <option value="産婦人科" {% if appointment.department=="産婦人科" %}selected{% endif %}>産婦人科</option>
            <option value="眼科" {% if appointment.department=="眼科" %}selected{% endif %}>眼科</option>
            <option value="皮膚科" {% if appointment.department=="皮膚科" %}selected{% endif %}>皮膚科</option>
            <option value="救急科" {% if appointment.department=="救急科" %}selected{% endif %}>救急科</option>
            <option value="放射線科" {% if appointment.department=="放射線科" %}selected{% endif %}>放射線科</option>
            <option value="その他センター等" {% if appointment.department=="その他センター等" %}selected{% endif %}>その他センター等</option>
        </select>
        <br><br>
        <button type="submit">更新</button>
    </form>
</body>

</html>