<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>新しい予約を追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>新しい予約を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('appointment.list') }}">予約一覧</a></li>
        <li>新規予約</li>
    </ul>

    <form method="POST">
        <div class="form-group">
            <label for="user">患者</label>
            <select name="user_id" id="user" class="form-control" required>
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="appointment_datetime">予約日時</label>
            <input type="datetime-local" name="appointment_datetime" id="appointment_datetime" class="form-control"
                required>
        </div>

        <div class="form-group">
            <label for="department">診療科</label>
            <select name="department" id="department" class="form-control" required>
                <option value="">選択してください</option>
                <option value="general-medicine">総合診療科</option>
                <option value="internal-medicine">一般内科</option>
                <option value="general-surgery">一般外科</option>
                <option value="pediatric-surgery">小児外科</option>
                <option value="pediatrics">小児内科</option>
                <option value="obstetrics-gynecology">産婦人科</option>
                <option value="ophthalmology">眼科</option>
                <option value="dermatology">皮膚科</option>
                <option value="emergency-medicine">救急科</option>
                <option value="radiology">放射線科</option>
                <option value="other-centers">その他センター等</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">登録</button>
    </form>
</body>

</html>