<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>血液型追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>新しい血液型を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('blood_type.list') }}">血液型一覧</a></li>
        <li>新規血液型</li>
    </ul>

    <form action="{{ url_for('blood_type.add') }}" method="post">
        <label>血液型名: <input type="text" name="name" required></label><br>
        <label>価格: <input type="number" step="1" name="price" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>

</html>