<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>血液型一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('blood_type.list') }}">血液型一覧</a></li>

    </ul>
    <a href="{{ url_for('blood_type.add') }}">新規血液型追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>名前</th>
                <th>血液型</th>
            </tr>
        </thead>
        <tbody>
            {% for blood_type in items %}
            <tr>
                <td><a href="{{ url_for('blood_type.edit', blood_type_id=blood_type.id) }}">編集</a></td>
                <td>{{ blood_type.name }}</td>
                <td>{{ blood_type.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>