<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <ul class="hogehoge">　<!-- ここに予約曜日をマージするのが妥当だと思います！-->

    </ul>
    
    <h1>予約希望</h1>
    <ul class="department">
        <h2>どちらの診療科での受診を希望されますか?</h2>
        <select name="pets" id="pet-select">
            <option value="general-medicine">総合診療科</option>
            <option value="internal-medicine">一般内科</option>
            <option value="general-surgery">一般外科</option>
            <option value="pediatric-surgery">小児外科</option>
            <option value="pediatrics">小児内科</option>
            <option value="obstetrics-gynecology">産婦人科</option>
            <option value="ophthalmology">眼科</option>
            <option value="dermatology">皮膚科</option>
            <option value="emergency-medicine">救急科</option>
            <option value="radiology">放射線科</option>
            <option value="other-centers">その他センター等</option>
          </select>
          <div class="pagenavi-next">
    </ul>
    <a href="hogehoge.html">前へ</a></div>  <!-- 前に戻るボタンのhogehoge.htmlは、予約者の概要のhtmlにとんでください、-->
        <a href="hogehoge.html">次へ</a></div>　<!-- 先に進むボタンのhogehoge.htmlは、予約者の病状のhtmlにとんでください、-->
</html>
