<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('challenger.list') }}">チャレンジャー一覧</a></li>
    </ul>

    <a href="{{ url_for('challenger.add') }}">新規チャレンジャー追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>名前</th>
                <th>年齢</th>
                <th>性別</th>
            </tr>
        </thead>
        <tbody>
            {% for challenger in items %}
            <tr>
                <td><a href="{{ url_for('challenger.edit', challenger_id=challenger.id) }}">編集</a></td>
                <td>{{ challenger.name }}</td>
                <td>{{ challenger.age }}</td>
                <td>{{ challenger.gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
