<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>キャラクター一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('character.list') }}">キャラクター一覧</a></li>
    </ul>

    <a href="{{ url_for('character.add') }}">新規キャラクター追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>名前</th>
                <th>性別</th>
            </tr>
        </thead>
        <tbody>
            {% for character in items %}
            <tr>
                <td><a href="{{ url_for('character.edit', character_id=character.id) }}">編集</a></td>
                <td>{{ character.name }}</td>
                <td>{{ character.gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
