<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('commute.list') }}">通学情報一覧</a></li>
    </ul>

    <a href="{{ url_for('commute.add') }}">新規通学情報追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>通学方法</th>
                <th>通学時間</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td><a href="{{ url_for('commute.edit', commute_id=commute.id) }}">編集</a></td>
                <td>{{ commute.way }}</td>
                <td>{{ commute.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
