<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>客一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('customer.list') }}">客一覧</a></li>
    </ul>

    <a href="{{ url_for('customer.add') }}">新規の客追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ID</th>
                <th>テーブル番号</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td><a href="{{ url_for('customer.edit', customer_id=customer.id) }}">編集</a></td>
                <td>{{ customer.id }}</td>
                <td>{{ customer.table }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
