<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>客編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>客を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('customer.list') }}">客一覧</a></li>
        <li>客編集</li>
    </ul>

    <form action="{{ url_for('customer.edit', customer_id=customer.id) }}" method="post">
        <label>テーブル番号: <input type="text" name="table" value="{{ customer.table }}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
