<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>従業員削除</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">

</head>
<body>
    <h1>従業員削除</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('employee.list') }}">従業員一覧</a></li>
        <li>従業員削除</li>
    </ul>
    <p>以下の従業員情報を削除します。よろしいですか？</p>

    <form action="{{ url_for('employee.delete', employee_id=employee.employee_id) }}" method="post">
        <label>名: <input type="text" name="first_name" value="{{ employee.first_name }}" readonly /></label><br>
        <label>姓: <input type="text" name="last_name" value="{{ employee.last_name }}" readonly /></label><br>
        <label>性別: <input type="text" name="gender" value="{{ employee.gender }}" readonly /></label><br>
        <label>生年月日: <input type="date" name="date_of_birth" value="{{ employee.date_of_birth.strftime('%Y-%m-%d') }}" readonly /></label><br>
        <label>メールアドレス: <input type="email" name="email" value="{{ employee.email }}" readonly /></label><br>
        <label>電話番号: <input type="text" name="phone_number" value="{{ employee.phone_number }}" readonly /></label><br>
        <label>住所: <textarea name="address" readonly>{{ employee.address }}</textarea></label><br>


        <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
        <a href="{{ url_for('employee.list') }}">キャンセル</a>
    </form>


</body>
</html>