<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li>従業員一覧</li> </ul> <a href="{{ url_for('employee.add') }}">新規従業員追加</a>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>名前</th>
                <th>性別</th>
                <th>生年月日</th>
                <th>年齢</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>住所</th>
                <th>入社日</th>
                <th>職種</th>
                <th>部署名</th>
                <th>雇用形態</th>
                <th>給与</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in items %}
            <tr>
                <td>
                    <a href="{{ url_for('employee.edit', employee_id=employee.employee_id) }}">編集</a>
                    <a href="{{ url_for('employee.delete', employee_id=employee.employee_id) }}">削除</a>
                </td>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.date_of_birth.strftime('%Y-%m-%d') }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.address }}</td>
                <td>{{ employee.hire_id.hire_date.strftime('%Y-%m-%d') }}</td>
                <td>{{ employee.hire_id.job_title }}</td>
                <td>{{ employee.hire_id.department_name }}</td>
                <td>{{ employee.hire_id.employment_type }}</td>
                <td>{{ employee.hire_id.salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>