<head>
    <meta charset="UTF-8">
    <title>食べ物をを追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>食べ物を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('food.list') }}">ドリンク一覧</a></li>
        <li>食べ物を追加</li>
    </ul>

    <form action="{{ url_for('food.add') }}" method="post">
        <label>フード名: <input type="text" name="name" required></label><br>
        <label>値段: <input type="number" step="1" name="price" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
