<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>フード編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>フードの情報を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('food.list') }}">フード一覧</a></li>
        <li>ドリンク</li>
    </ul>

    <form action="{{ url_for('food.edit', food_id=food.id) }}" method="post">
        <label>フード名: <input type="text" name="name" value="{{ food.name }}" required></label><br>
        <label>値段: <input type="number" step="1" name="price" value="{{ food.price}}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
