<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しい商品を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('goods.list') }}">商品一覧</a></li>
        <li>新規商品</li>
    </ul>

    <form action="{{ url_for('goods.add') }}" method="post">
        <label>商品名: <input type="text" name="name" required></label><br>
        <label>価格:（税込）<input type="number" step="1" name="price" required></label><br>
        <label>カテゴリ（整数値）<input type="number" step="1" name="categori" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
