<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('goods.list') }}">商品一覧</a></li>

    </ul>
    <a href="{{ url_for('goods.add') }}">新規商品追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>商品名</th>
                <th>価格（税込）</th>
                <th>カテゴリ（整数値）</th>
            </tr>
        </thead>
        <tbody>
            {% for goods in items %}
            <tr>
                <td><a href="{{ url_for('goods.edit', goods_id=goods.id) }}">編集</a></td>
                <td>{{ goods.name }}</td>
                <td>{{ goods.price }}</td>
                <td>{{ goods.categori }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
