<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>商品を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('goods.list') }}">商品一覧</a></li>
        <li>商品編集</li>
    </ul>

    <form action="{{ url_for('goods.edit', goods_id=goods.id) }}" method="post">
        <label>商品名:  <input type="text" name="name" value="{{ goods.name }}" required></label><br>
        <label>価格:（税込） <input type="number" step="1" name="price" value="{{ goods.price }}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
