<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ダッシュボード</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}" />
  </head>
  <body>
    <h1>ダッシュボード</h1>
    <p>以下の画像を表示します：</p>
    
    <!-- 画像を繰り返し表示 -->
    <div class="image-gallery">
      {% for image in images %}
        <img src="{{ url_for('static', filename=image.split('static/')[1]) }}" alt="Image" />
      {% endfor %}
    </div>
    
    <br>
    <a href="{{ url_for('index') }}">戻る</a>
  </body>
</html>
