<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>データ一覧</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>index</h1>
    <ul>
      <li>
        <a href="{{ url_for('challenger.list') }}">チャレンジャーリスト</a>
      </li>
      <li><a href="{{ url_for('song.list') }}">ソングリスト</a></li>
      <li><a href="{{ url_for('score.list') }}">スコアリスト</a></li>
    </ul>
    <section class="song_counts">
      <h3>最も歌われた曲（TOP5）</h3>
      <canvas id="song_counts_chart" width="400" height="200"></canvas>
    </section>

    <script>
      // ここに JavaScript のコードを記述！
      // Pythonから渡されたデータをJavaScriptに適用
      const songNames = {{ song_names|tojson }}; // 曲名
      const songCounts = {{ song_counts|tojson }}; // 出現回数

      // 棒グラフ作成
      const ctx = document.getElementById("song_counts_chart");
      const songsChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: songNames, // 縦軸(曲名)
          datasets: [
            {
              label: "歌われた回数",
              data: songCounts, // 横軸(回数)
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)'
              ],
              borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)'
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              ticks: {
                stepSize: 1 // 目盛りの間隔を1にする
              }
            },
          },
        },
      });
    </script>
  </body>
</html>
