<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('item.list') }}">装備一覧</a></li>

    </ul>
    <a href="{{ url_for('item.add') }}">新規装備追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>装備名</th>
                <th>HP</th>
                <th>AT</th>
                <th>DF</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="{{ url_for('item.edit', item_id=item.id) }}">編集</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.hitpoint }}</td>
                <td>{{ item.attack }}</td>
                <td>{{ item.defence }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
