<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新規追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('lunch.list') }}">昼食アンケート</a></li>
        <li>新規</li>
    </ul>

    <form action="{{ url_for('lunch.add') }}" method="post">
        <label>学籍番号: <input type="text" name="number" required></label><br>
        <label>昼食: </label><br>
        <input type="radio" name="lunch_place" value="なし" checked> なし
        <input type="radio" name="lunch_place" value="持参"> 持参
        <input type="radio" name="lunch_place" value="コンビニ"> コンビニ
        <input type="radio" name="lunch_place" value="アメリカフェ"> アメリカフェ
        <input type="radio" name="lunch_place" value="アイワ食堂"> アイワ食堂
        <input type="radio" name="lunch_place" value="セントラル"> セントラル
        <input type="radio" name="lunch_place" value="バカボン"> バカボン
        <input type="radio" name="lunch_place" value="すき家"> すき家
        <input type="radio" name="lunch_place" value="スガキヤ"> スガキヤ
        <input type="radio" name="lunch_place" value="その他"> その他
        <button type="submit">追加</button>
    </form>
</body>
</html>
