<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('lunch.list') }}">昼食アンケート</a></li>

    </ul>
    <a href="{{ url_for('lunch.add') }}">新規追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>学籍番号</th>
                <th>昼食</th>
            </tr>
        </thead>
        <tbody>
            {% for lunch in items %}
            <tr>
                <td><a href="{{ url_for('lunch.edit', lunch_id=lunch.id) }}">編集</a></td>
                <td>{{ lunch.number }}</td>
                <td>{{ lunch.lunch_place }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
