<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>症状編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>症状を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('medical_condition.list') }}">製品一覧</a></li>
        <li>症状編集</li>
    </ul>

    <form action="{{ url_for('product.edit', product_id=product.id) }}" method="post">
        <label>症状: <input type="number" step="1" name="price" value="{{ product.price }}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>

</html>