<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>症状追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>症状を選択</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('medical_condition.list') }}">症状一覧</a></li>
        <li>新規登録</li>
    </ul>

    <form action="{{ url_for('medical_condition.add') }}" method="post">
        <label>患者名:
            <select name="user_id" required>
                <option value="">選択してください</option>
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </label><br><br>

        <h2>症状を選んでください:</h2>
        <input type="checkbox" name="condition" value="fever"> 発熱<br>
        <input type="checkbox" name="condition" value="vomiting"> 嘔吐<br>
        <input type="checkbox" name="condition" value="headache"> 頭痛<br>
        <input type="checkbox" name="condition" value="dizziness"> 眩暈<br>
        <input type="checkbox" name="condition" value="other"> その他<br>
        <br>

        <button type="submit">追加</button>
    </form>
</body>

</html>