<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>製品追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>症状を選択</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li>症状一覧</li>
    </ul>

    <form action="{{ url_for('product.add') }}" method="post">
        <label>
            <input type="checkbox" id="medical_condition_id" name="condition" value="fever">
            発熱
            <input type="checkbox" id="medical_condition_id" name="condition" value="vomiting">
            嘔吐
            <input type="checkbox" id="medical_condition_id" name="condition" value="headache">
            頭痛
            <input type="checkbox" id="medical_condition_id" name="condition" value="dizziness">
            眩暈

        </label>

        <button type="submit">追加</button>
    </form>
</body>

</html>