<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('quest.list') }}">クエスト一覧</a></li>
    </ul>

    <a href="{{ url_for('quest.add') }}">新規ダンジョン追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>冒険者</th>
                <th>行き先</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td><a href="{{ url_for('quest.edit', order_id=order.id) }}">編集</a></td>
                <td>{{ user.name }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.order_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
