<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>クエスト追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>クエストを追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('quest.list') }}">注文一覧</a></li>
        <li>新規クエスト</li>
    </ul>
    
    <form action="{{ url_for('quest.add') }}" method="post">
        <label>クエスト名
            <input type="text" name="name" required>
        </label>
        <label>キャラクター: 
            <select name="character_id" required>
                {% for character in characters %}
                    <option value="{{ character.id }}">{{ character.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>武器: 
            <select name="weapon_id" required>
                {% for weapon in weapons %}
                    <option value="{{ weapon.id }}">{{ weapon.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
