<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>飼育表の編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>飼育表を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('role.list') }}">飼育表</a></li>
        <li>飼育表の編集</li>
    </ul>

    <form action="{{ url_for('role.edit', role_id=role.id) }}" method="post">
        <label>飼育員: 
            <select name="keeeper" required>
                {% for user in users %}
                    <option value="{{ keeper.id }}" {% if order.user.id == keeeper.id %}selected{% endif %}>{{ user.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>動物: 
            <select name="animal" required>
                {% for product in products %}
                    <option value="{{ animal.id }}" {% if order.product.id == animal.id %}selected{% endif %}>{{ product.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
