<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>クエスト一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('quest.list') }}">クエスト一覧</a></li>
    </ul>

    <a href="{{ url_for('quest.add') }}">新規クエスト追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>クエスト名</th>
                <th>キャラクター</th>
                <th>武器</th>
                <th>クエスト受注日</th>
            </tr>
        </thead>
        <tbody>
            {% for quest in items %}
            <tr>
                <td><a href="{{ url_for('quest.edit', quest_id=quest.id) }}">編集</a></td>
                <td>{{ quest.name }}</td>
                <td>{{ quest.character.name }}</td>
                <td>{{ quest.weapon.name }}</td>
                <td>{{ quest.quest_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>