<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>注文編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>注文を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('order.list') }}">注文一覧</a></li>
        <li>注文の編集</li>
    </ul>

    <form action="{{ url_for('order.edit', order_id=order.id) }}" method="post">
        <label>テーブル番号: 
            <select name="customer_id" required>
                {% for customer in customers %}
                    <option value="{{ customer.id }}" {% if order.customer.id == customer.id %}selected{% endif %}>{{ customer.table }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>寿司: 
            <select name="goods_id" required>
                {% for good in goods %}
                    <option value="{{ good.id }}" {% if order.good.id == good.id %}selected{% endif %}>{{ good.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
