<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アンケートを記入</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>アンケートを編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('parttimer.list') }}">アルバイトに関するアンケート</a></li>
        <li>アンケートを編集</li>
    </ul>

    <form action="{{ url_for('parttimer.edit', parttimer_id=parttimer.id) }}" method="post">
        <label>名前: <input type="text" name="name" value="{{ parttimer.name }}" required></label><br>
        <label>アルバイトのカテゴリー: <input type="text" name="category" value="{{ parttimer.name }}" required></label><br>
        <label>時給: <input type="number" step="1" name="hourlypay" value="{{ parttimer.name }}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>