<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アンケート編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>アンケートを編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('physical.list') }}">アンケート一覧</a></li>
        <li>アンケート編集</li>
    </ul>

    <form action="{{ url_for('physical.edit', physical_id=physical.id) }}" method="post">
        <label>ユーザー: 
            <select name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if physical.user.id == user.id %}selected{% endif %}>{{ user.username }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>体温: <input type="text" step="0.1" name="temp" value="{{ physical.temp }}" required></label><br>
        <label>体調不良があるか:</label>
        <label><input type="radio" name="bad_good" value="1" {% if physical.bad_good %}checked{% endif %}> ある</label>
        <label><input type="radio" name="bad_good" value="0" {% if not physical.bad_good %}checked{% endif %}> ない</label><br>
        <label>体調不良の内容: <input type="text" name="bad_content" value="{{ physical.bad_content }}"></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
