<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('user.list') }}">ユーザー一覧</a></li>
    </ul>

    <a href="{{ url_for('user.add') }}">新規ユーザー追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ユーザーID</th>
                <th>体温</th>
                <th>体調不良があるか</th>
                <th>体調不良の内容</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td><a href="{{ url_for('user.edit', user_id=user_tb.user_id) }}">編集</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.body }}</td>
                <td>{{ user.lllness }}</td>
                <td>{{ user.Detauks of ill health }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>