<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('physical.list') }}">アンケート一覧</a></li>
    </ul>

    <a href="{{ url_for('physical.add') }}">新規アンケート追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>ユーザー</th>
                <th>体温</th>
                <th>体調不良があるか</th>
                <th>体調不良の内容</th>
            </tr>
        </thead>
        <tbody>
            {% for physical in items %}
            <tr>
                <td><a href="{{ url_for('physical.edit', physical_id=physical.id) }}">編集</a></td>
                <td>{{ physical.user.username }}</td>
                <td>{{ "%.1f"|format(physical.temp) }}</td>
                <td>{{ 'ある' if physical.bad_good else 'ない' }}</td>
                <td>{{ physical.bad_content or '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>