<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>動物追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しい動物を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('product.list') }}">動物一覧</a></li>
        <li>新規動物</li>
    </ul>

    <form action="{{ url_for('product.add') }}" method="post">
        <label>動物の種類: <input type="text" name="kind" required></label><br>
        <label>動物の愛称: <input type="text"  name="name" required></label><br>
        <label>動物の餌: <input type="text"  name="food" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
