<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プログラミング</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>アンケート回答</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('order.list') }}">プログラミング</a></li>
        <li>登録</li>
    </ul>
    
    <form action="{{ url_for('order.add') }}" method="post">
        <label>学籍番号: 
            <select name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>プログラミング好き？（1 : 嫌い, 5 : 好き）: 
            <select name="like">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label><br>
        <label>好きな言語: 
            <select name="language">
                <option value="c">C言語</option>
                <option value="py">Python</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
            </select>
        </label><br>
        <button type="submit">回答する</button>
    </form>
</body>
</html>
