<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プログラミング</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>アンケート回答</h1>
    <form action="{{ url_for('programing.add') }}" method="post">
        <label>学籍番号: 
            <input type="text" name="user_id" required>
        </label><br>
        <label>プログラミング好き？（1 : 嫌い, 5 : 好き）: 
            <select name="like">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label><br>
        <label>好きな言語: 
            <select name="language">
                <option value="c">C言語</option>
                <option value="py">Python</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
            </select>
        </label><br>
        <button type="submit">回答する</button>
    </form>
</body>
</html>
