<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>履修リスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('regist.list') }}">科目リスト</a></li>
    </ul>

    <a href="{{ url_for('regist.add') }}">履修登録</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>名前</th>
                <th>科目名</th>
                <th>登録日</th>
            </tr>
        </thead>
        <tbody>
            {% for regist in regists %}
            <tr>
                <td><a href="{{ url_for('regist.edit', regist_id=regist.id) }}">編集</a></td>
                <td>{{ regist.user.name }}</td>
                <td>{{ regist.subject.name }}</td>
                <td>{{ regist.regist_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
