<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('restaurant.list') }}">お店一覧</a></li>

    </ul>
    <a href="{{ url_for('restaurant.add') }}">お店追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>店名</th>
                <th>住所</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in items %}
            <tr>
                <td><a href="{{ url_for('restaurant.edit', restaurant_id=restaurant.id) }}">編集</a></td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
