<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>レビュー追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しいレビューを追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('review.list') }}">レビュー一覧</a></li>
        <li>新規レビュー</li>
    </ul>
    
    <form action="{{ url_for('review.add') }}" method="post">
        <label>ユーザー: 
            <select name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>製品: 
            <select name="product_id" required>
                {% for product in products %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>評価:
            <select name="review_count" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label><br>
        <label>コメント:
            <textarea name="review_comment" required>
            </textarea>
        </label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>

