<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>得点編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>得点を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('score.list') }}">得点一覧</a></li>
        <li>得点の編集</li>
    </ul>

    <form action="{{ url_for('score.edit', score_id=score.id) }}" method="post">
        <label>名前: 
            <select name="challenger_id" required>
                {% for challenger in challengers %}
                    <option value="{{ challenger.id }}" {% if score.challenger.id == challenger.id %}selected{% endif %}>{{ challenger.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>曲名: 
            <select name="song_id" required>
                {% for song in songs %}
                    <option value="{{ song.id }}" {% if score.song.id == song.id %}selected{% endif %}>{{ song.song }}</option>
                {% endfor %}
            </select>
        </label><br>
		<label>得点: <input type="number" name="score_id" value="{{score.score}}" max="100" min="0" required /></label><br />

        <button type="submit">保存</button>
    </form>
</body>
</html>
