<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>データ一覧</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
      <li><a href="{{ url_for('index') }}">HOME</a></li>
      <li><a href="{{ url_for('score.list') }}">得点一覧</a></li>
    </ul>

    <a href="{{ url_for('score.add') }}">新規得点追加</a>
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>名前</th>
          <th>曲名</th>
          <th>得点</th>
        </tr>
      </thead>
      <tbody>
        {% for score in items %}
        <tr>
          <td>
            <a href="{{ url_for('score.edit', score_id=score.id) }}">編集</a>
          </td>
          <td>
            <form
              action="{{ url_for('score.delete', score_id=score.id) }}"
              method="post"
            >
              <button
                type="submit"
                onclick="return confirm('本当に削除しますか？');"
              >
                削除
              </button>
            </form>
          </td>
          <td>{{ score.challenger.name }}</td>
          <td>{{ score.song.song }}</td>
          <td>{{ score.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
