<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>スコア編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>スコアを編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('score.list') }}">スコア一覧</a></li>
        <li>スコアの編集</li>
    </ul>

    <form action="{{ url_for('score.edit', score_id=score.id) }}" method="post">
        <label>チャレンジャー: 
            <select name="challenger_id" required>
                {% for challenger in challengers %}
                    <option value="{{ challenger.id }}" {% if score.challenger.id == challenger.id %}selected{% endif %}>{{ challenger.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>曲: 
            <select name="song_id" required>
                {% for song in songs %}
                    <option value="{{ song.id }}" {% if score.song.id == song.id %}selected{% endif %}>{{ song.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
