<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>楽曲追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しい楽曲を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('song.list') }}">楽曲一覧</a></li>
        <li>新規楽曲</li>
    </ul>

    <form action="{{ url_for('song.add') }}" method="post">
        <label>楽曲名: <input type="text" name="song" required></label><br>
        <label>歌手: <input type="text" name="artist" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
