<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>ユーザーを編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('status.list') }}">ユーザー一覧</a></li>
        <li>ユーザー編集</li>
    </ul>

    <form action="{{ url_for('status.edit', status_id=status.id) }}" method="post">
        <label>ユーザー: 
            <select name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if status.name.id == user.id %}selected{% endif %}>{{ user.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>装備名: 
            <select name="item_id" required>
                {% for item in items %}
                    <option value="{{ item.id }}" {% if status.item.id == item.id %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
