<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>科目追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しい科目を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('subject.list') }}">科目リスト</a></li>
        <li>新規科目</li>
    </ul>

    <form action="{{ url_for('subject.add') }}" method="post">
        <label>科目名: <input type="text" name="name" required></label><br>
        <label>単位数: <input type="number" step="1" name="price" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
