<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>科目編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>科目を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('subject.list') }}">科目一覧</a></li>
        <li>科目編集</li>
    </ul>

    <form action="{{ url_for('subject.edit', subject_id=subject.id) }}" method="post">
        <label>科目名: <input type="text" name="name" value="{{ subject.name }}" required></label><br>
        <label>単位数: <input type="number" step="1" name="price" value="{{ subject_unit }}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
