<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データリスト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('subject.list') }}">科目名リスト</a></li>

    </ul>
    <a href="{{ url_for('subject.add') }}">科目追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>科目名</th>
                <th>単位数</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td><a href="{{ url_for('subject.edit', subject_id=subject.id) }}">編集</a></td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
