<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>業務記録編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>業務記録を編集</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('task.list') }}">業務記録一覧</a></li>
        <li>業務記録編集</li>
    </ul>

    <form action="{{ url_for('task.edit', task_id=task.id) }}" method="post">
        <label>ユーザー: 
            <select name="user_id" required>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if task.user.id == user.id %}selected{% endif %}>{{ user.username }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>作業種類: <input type="text" name="task_name" value="{{ task.task_name }}" required></label><br>
        <label>作業内容: <input type="text" name="task_content" value="{{ task.task_content }}" required></label><br>
        <button type="submit">保存</button>
    </form>
</body>
</html>
