<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li>テストデータ一覧</li>
    </ul>


    <thead>
        <a href="{{ url_for('test.add') }}">新しいテストデータを追加</a>
        <table>
            <tr>
                <th>&nbsp;</th>
                <th>ユーザー名</th>
                <th>国語</th>
                <th>数学</th>
                <th>英語</th>
            </tr>
    </thead>
    <tbody>
        {% for test in items %}
        <tr>
            <td><a href="{{ url_for('test.edit', test_id=test.id) }}">編集</a></td>
            <td>{{ test.user.name }}</td> <!-- ユーザー名 -->
            <td>{{ test.japanese}}</td> 
            <td>{{ test.math}}</td> 
            <td>{{test.english}}</td>
        </tr>
        {% endfor %}

    </tbody>
    </table>
</body>

</html>