<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li>テストデータ一覧</li>
    </ul>

    <table border="1">
        <thead>
            <a href="{{ url_for('test.add') }}">新しいテストデータを追加</a>
            <tr>
                <th>ユーザー名</th>
                <th>教科名</th>
                <th>点数</th>
            </tr>
        </thead>
        <tbody>
            {% for test in items %}
            <tr>
                <td>{{ test.user.name }}</td> <!-- ユーザー名 -->
                <td>{{ test.name }}</td> <!-- 教科名 -->
                <td>{{ test.score }}</td> <!-- 点数 -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>