<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('weapon.list') }}">武器一覧</a></li>

    </ul>
    <a href="{{ url_for('weapon.add') }}">新規武器追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>武器名</th>
                <th>武器の攻撃力</th>
                <th>武器タイプ</th>
            </tr>
        </thead>
        <tbody>
            {% for weapon in items %}
            <tr>
                <td><a href="{{ url_for('weapon.edit', weapon_id=weapon.id) }}">編集</a></td>
                <td>{{ weapon.name }}</td>
                <td>{{ weapon.attackpower }}</td>
                <td>{{ weapon.attribute }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
