<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('zodiac.list') }}">星座一覧</a></li>
    </ul>

    <a href="{{ url_for('zodiac.add') }}">星座情報追加</a>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>生年月日</th>
                <th>星座</th>
            </tr>
        </thead>
        <tbody>
            {% for zodiac in items %}
            <tr>
                <td><a href="{{ url_for('zodiac.edit', zodiac_birthday=zodiac.birthday) }}">編集</a></td>
                <td>{{ zodiac.birthday }}</td>
                <td>{{ zodiac.zodiac_signs }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
